<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="root">

        <!-- creiamo un container flex per accostare l'immagine in evidenza alla scletta di anteprima img. -->
        <div class="container">

            <!-- qui la sezione principale con l'immagine selezionata, il nome del paese ed una didascalia. -->
            <div class="master">

                <section v-for="country in countries">

                    <!-- se cambio il valore di counter, cambio indice a countries...-Come cambio valore a counter?-Che succede se a section applico un ciclo in counter (impostando il valore di counter a 5) assieme al ciclo presente?-No, se li stampo tutti sono punto e da capo!-Ma se applico una funzione a counter, che ne cambia il valore al click, allo stesso click che mi evidenzia l'img in anteprima, allora countries[counter] equivarrebbe ad identificare l'oggetto specifico country che voglio qui...ma si può fare anche con index, o mi serve un counter? -->
                    <img :src="countries[counter].image" alt="">
                    <div class="text">
                        <h2>{{countries[counter].name}}</h2>
                        <p>{{countries[counter].caption}}</p>
                    </div>

                </section>

            </div>

            
            
            <div class="menu">
                
                <!-- qui la scaletta di img in anteprima. -->
                <div  class="preview">
                        
                    <img v-for="country in countries" :src="country.image" alt="">
                    
                </div>
                
                
                <!-- i bottoni che ci permetteranno di scorrere tra le img -->
                <button class="up">
                    <i class="fas fa-chevron-up"></i>
                </button>
                
                <button @click="nextImg" class="down">
                    <i class="fas fa-chevron-down"></i>
                </button>
                
            </div>
            
        </div>

        <div v-for="numb in counter" class="counter">
            <p>{{numb}}</p>
        </div>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/app.js"></script>
    
</body>
</html>