<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="root">

        <!-- creiamo un container flex per accostare l'immagine in evidenza alla scletta di anteprima img. -->
        <div class="container">

            <!-- qui la sezione principale con l'immagine selezionata, il nome del paese ed una didascalia. -->
            <div class="master">

                <section>

                    <img :src="countries[counter].image" alt="countries[counter].name">
                    <div class="text">
                        <h2>{{countries[counter].name}}</h2>
                        <p>{{countries[counter].caption}}</p>
                    </div>

                </section>

            </div>

            
            
            <div class="menu">
                
                <!-- qui la scaletta di img in anteprima. -->
                <div  class="preview">

                    <img v-for="(country, index) in countries" :src="country.image" alt=""  v-if="index == counter ? true : false" :class="activeClass">   

                    <img v-for="(country, index) in countries" :src="country.image" alt="" v-if="index != counter ? true : false" :class="inactiveClass">
                    
                </div>
                
                
                <!-- i bottoni che ci permetteranno di scorrere tra le img -->
                <button @click="formerImg" class="up">
                    <i class="fas fa-chevron-up"></i>
                </button>
                
                <button @click="nextImg" class="down">
                    <i class="fas fa-chevron-down"></i>
                </button>
                
            </div>
            
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/app.js"></script>
    
</body>
</html>