*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 835px;
    height: 300px;
    display: flex;
}

.master {
    width: 700px;
    height: 300px;
    /* position: relative; */
}

section{
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

section img{
    width: 700px;
    height: 300px;
    object-fit: cover;
}

.text{
    text-align: right;
    color: whitesmoke;
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.menu{
    width: 135px;
    height: 300px;
    position: relative;
}

.preview{
    width: 100%;
    height: 100%;  
}

.img_frame{
    width: 100%;
    height: 20%;
    background-color: darkblue;
}

.preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

button{
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 50%;
    border: none;
    z-index: 10000;
}

i{
    font-size: 1.2rem;
    vertical-align: middle;
}

.up{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
}

.down{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.unselected{
    opacity: 50%;
}

.selected{
    opacity: 100%;
    border: 2px solid white;
}